.box-title {
	padding: 5px 0;
	display: block;
	position: relative;
	border-bottom: 2px solid #f2f2f2;
	margin-bottom: 25px;
	.right-box-title{
		display: flex;
		align-items: center;
	}
}

.box-title::after {
	content: '';
	position: absolute;
	left: 0;
	width: 50px;
	height: 2px;
	background: #e51515;
	bottom: -2px;
}

.title-left {
	display: inline-block;
	color: #201f1f;
	font-size: 24px;
	margin: 0;
	position: relative;
	font-weight: 600;
	// font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

p {
	// font-family: 'Roboto', Arial, serif;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-row-space-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.pin-category {
	margin-right: 10px;
	cursor: pointer;
}
